<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Nueva noticia</h1>
    <a class="button button-icon icon ion-ios-close-outline" ng-click="closeModal()"></a>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Titulo" ng-model="draft.title">
      </label>
      <label class="item item-input">
        <textarea placeholder="Descripcion" ng-model="draft.description"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Author" ng-model="draft.author">
      </label>
    </div>
    <div clas="padding" style="text-align: center;">
      <button class="button button-icon icon ion-images" ng-click="getImageSave()"></button>
      <button class="button button-icon icon ion-camera" ng-click="takePicture()"></button>
      <br>
      <img ng-show="draft.urlToImage !== undefined" ng-src="{{draft.urlToImage}}">
      <img ng-show="draft.urlToImage === undefined" ng-src="http://placehold.it/300x300">
    </div>

    <p style="color: red; text-align: center;" ng-show="formErrors">
      Los campos titulo y descripcion son obligatorios!
    </p>
    <button class="button button-full button-positive" ng-click="add()">
      Enviar 
    </button>

  </ion-content>
</ion-modal-view
